# GitHub integration modules:
PyGithub==2.8.1
GitPython~=3.1

# Markdown visualization modules:
pytz~=2022.7
humanize~=4.15

# Graphs drawing modules:
numpy~=2.3
matplotlib~=3.10

# Request making and response parsing modules:
httpx~=0.27
PyYAML~=6.0

# Codestyle checking modules:
black~=25.12
flake8~=7.3
