# GitHub integration modules:
PyGithub~=1.58
GitPython~=3.1

# Markdown visualization modules:
pytz~=2022.7
humanize~=4.6

# Graphs drawing modules:
matplotlib~=3.7
numpy~=1.24

# Request making and response parsing modules:
httpx~=0.23
PyYAML~=6.0

# Codestyle checking modules:
flake8~=6.0
black~=23.3
