# GitHub integration modules:
PyGithub~=1.58
GitPython~=3.1.44

# Markdown visualization modules:
pytz~=2025.2
humanize~=4.12.3

# Graphs drawing modules:
matplotlib~=3.10.3
numpy~=2.2.6

# Request making and response parsing modules:
httpx~=0.28.1
PyYAML~=6.0.2

# Codestyle checking modules:
flake8~=7.2.0
black~=25.1.0
