name: Pull Request Labeler
on:
  - pull_request_target

jobs:
  labeler:
    name: Label PRs
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: ${{ github.repository }}
    - name: Label PRs
      uses: actions/labeler@v6
      with:
        sync-labels: true
